body {
    background: url('https://picsum.photos/id/100/2500/1656') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

agm-map {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: auto;
}
.container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

#paragrafo{
    color: aqua;
}

#opacidade{
    opacity: 0.2;
}

#opacidadefull1 {
    opacity: 1!important;
}

/* Countdown */ 

