html {
    overflow: hidden;
}

body {
    background: url('../assets/Img/background.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
  }

agm-map {   
    height: 200px;
    width: auto;
 
}
.container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}

h1 {
    text-align: center;
}

#paragrafo{
    color: black;
}

#opacidade{
    opacity: 0.2;
}

#opacidadefull1 {
    opacity: 1!important;
}

#mapalocalrecepcao {    
    text-align: center!important;
}

#imagemhavan {
    display: inline;
    margin-left: auto;
    margin-right: auto;
       
}

#imagemcb {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    
}

#textohavan {
    text-align: center; 
}

#textocb {
    text-align: center;
}

.imagemlista{
    text-align: center;
}

#contagem-regressiva{
    height: 10vh;
    width: 40vw;
    margin: auto;
    
}